*{
    margin: 10px;
}

p{
    font-size: 40px;
}
@media only screen and (min-width: 768px) {
    body
}
body{
    background-color: lightgrey;
}
.flex-container{
    padding:rem;
    margin:1rem;
    color:#002245;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    border: 1px solid #e4e8ea;
    flex-grow:1;
}
.work-container{
    display:flex;
    flex-direction: column;
    border: 5px solid ;
    border-radius: 10px;
    background-color: white;
    text-shadow: white;
}
main{
    border: 3px solid black;
    background-color:lightgrey;

}
.jobdesc{
    height: 40px;
    margin-bottom: 10px;
}
