.pageheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
*{
    font-family: "Didot", "Comic Sans MS", "Helvetica Neue", sans-serif;
    background-color: #c8e4f4;
    color:#000000
}
.imageprop{
    width: 50px;
}

.section-title{
    align-items: center;
}

/* .introductioncontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
} */

/* .section-Introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    background-color: #f5f5dc;
    
} */




/* .thebody {
    background-color:#dcdcdc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
} */

.body-intro{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border:2px solid Violet;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 100%;
    padding: 5px;
    flex-wrap: wrap ;
    /* background-color: #a6a4a4e1; */
    gap: 1rem;

}

/* nav{
    display: inline-block;
    margin: 30px auto;
    width: 70%;
    padding: .5rem
} */

.introductioncontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}


h1{
    padding:2rem;
    background-color: grey;

}